[v-cloak] {
    display: none;
}
html {
    background-color: hsl(180, 100%, 95%);
}
#schedule {
    margin: 0 auto;
    outline: 2px solid Black;
}
.timeslot {
    font-size: 15px;
}
.row {
    height: 30px;
}
.schedule_cell {
    opacity: 75%;
}
#top_button {
    position: absolute;
    left: 50%;
}
.fade-out {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
