[[extend 'layout.html']]

<div class="section" id="vue-target" v-cloak>
    [[if user_in_group:]]
    <a class="button" href="[[=URL('index')]]">
        <span class="icon"><i class="fa fa-home"></i></span>
        <span>Home</span>
    </a>
    <h1 class="title has-text-centered">[[=group_name]]</h1>
    <br>
    <h2 class="subtitle has-text-centered">Group Availability</h2>
    <div class="columns is-mobile is-centered">
        <div class="column is-one-fifth has-text-centered">
            <a @click="include_all" class="button is-success">
                <span class="icon"><i class="fa fa-check-square"></i></span>
                <span>Include All</span>
            </a>
            <a @click="exclude_all" class="button is-danger">
                <span class="icon"><i class="fa fa-window-close"></i></span>
                <span>Exclude All</span>
            </a>
            <br><br>

            <h1 class="title"><u>Members</u></h1>
            <div v-for="m in members">
                <h2 class="subtitle has-text-center is-4">
                    {{m.first_name}} {{m.last_name}}
                    <a @click="toggle_member(m)" class="icon" style="float: right">
                        <i class="fa" :class="{
                            'fa-check-square': m.included,
                            'fa-square': !m.included
                        }"></i>
                    </a>
                </h2>
                <br>
            </div>
            <br><br><br>
            <a @click="set_leave_prompt(true)" class="button is-danger">
                <span class="icon"><i class="fa fa-sign-out fa-flip-horizontal"></i></span>
                <span>Leave Group</span>
            </a>

            <br><br>
            <div v-if="leave_prompt">
                <h2 class="subtitle">Are you sure you want to leave this group?</h2>
                <a @click="leave_group( [[=user_in_group]], '[[=URL('index')]]' )" class="button is-success">
                    <span class="icon"><i class="fa fa-check"></i></span>
                    <span>Leave</span>
                </a>
                <a @click="set_leave_prompt(false)" class="button is-danger">
                    <span class="icon"><i class="fa fa-times"></i></span>
                    <span>Cancel</span>
                </a>
            </div>
        </div>
        <div class="column">
            <table class="table is-striped is-hoverable has-text-centered is-narrow is-bordered" id="schedule">
                <thead style="background: LightGrey">
                    <th style="width: 100px; font-size: 15px;">
                        <label class="checkbox">
                            <input type="checkbox" v-model="extended" @change="toggle_extended" />
                            Extended Schedule
                        </label>
                    </th>
                [[for day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']:]]
                    <th style="width: 150px">[[=day]]</th>
                [[pass]]
                </thead>
        
                <tbody v-for="i in timeslots">
                    <tr class="row">
                        <td v-if="i%2==0" class="timeslot">{{((i<=24&&i!=0) ? i/2 : Math.abs(i/2-12)) + (i<=24 ? ' AM' : ' PM')}}</td>
                        <td v-else></td>
                        [[for j in range(7):]]
                            <td :class="count_overlap(i, [[=j]])" class="schedule_cell"></td>
                        [[pass]]
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="column is-one-fifth has-text-centered">
            <h1 class="title is-4">Invite Members</h1>
            <br>
            <h2 class="subtitle">Invite code</h2>
            <div class="field has-addons" style="display: flex; justify-content: center">
                <p class="control">
                    <input class="input is-hovered" type="text" id="join_code" value="[[=join_code]]" readonly />
                </p>
                <p class="control">
                    <a class="button" onClick="copy_join_code('[[=join_code]]');" style="width: 120px">
                        <span class="icon"><i class="fa fa-clipboard"></i></span>
                        <span id="btn_copy_text">Copy</span>
                    </a>
                </p>
            </div>

            <br><br>
        </div>
    </div>

    <br>

    <a class="button has-text-centered" id="top_button" v-if="extended" 
        onClick="window.scroll({top: 0, left: 0, behavior: 'smooth'})">
        <span class="icon"><i class="fa fa-arrow-up"></i></span>
        <span>To Top</span>
    </a>

    [[else:]]
    <div class="has-text-centered">
        <h2 class="subtitle">You can't view a group that you aren't in!</h2>
        <a class="button" href="[[=URL('index')]]">
            <span class="icon"><i class="fa fa-home"></i></span>
            <span>Home</span>
        </a>
    </div>
    [[pass]]
</div>

[[block page_scripts]]
<script>
    let load_group_url = "[[=XML(load_group_url)]]";
    let leave_group_url = "[[=XML(leave_group_url)]]";
    const copy_join_code = () => {
        document.getElementById('join_code').select();
        document.execCommand('copy');
        document.getElementById('btn_copy_text').innerHTML = 'Copied!';
    }
</script>
<script src="js/group.js"></script>
[[end]]
