[[extend 'layout.html']]

<style>
   [v-cloak] {
      display: none;
   }
</style>

<div class="section" id="vue-target" v-cloak>
   <h1 class="title" style="text-align: center">Schedule Sync</h1>
   
   [[if not user:]]
   <div class="login_buttons" style="text-align: center">
      <a class="button is-link" href="[[=URL('auth/register')]]">Sign up</a>
      <a class="button is-success" href="[[=URL('auth/login')]]">Log in</a>
   </div>

   [[else:]]
   <div class="group_buttons" style="text-align: center">
      <a class="button is-primary" href="[[=URL('create_group')]]">
         <span class="icon"><i class="fa fa-pencil"></i></span>
         <span>Create Group</span>
      </a>
      <a class="button is-warning" href="[[=URL('join_group')]]">
         <span class="icon"><i class="fa fa-plus"></i></span>
         <span>Join Group</span>
      </a>
      <a class="button is-success" href="[[=URL('schedule')]]">
         <span class="icon"><i class="fa fa-book"></i></span>
         <span>My Schedule</span>
      </a>
   </div>
   <br><br><br>
   <!-- Later, these tiles will be added automatically upon group creation -->
   <div class="tile is-ancestor mx-6" id="group_tiles">
      <div class="tile is-vertical is-4" id="group_col_0">
         <div class="tile is-parent">
            <div class="tile is-child notification is-link" onclick="location.href='[[=URL('group', 11)]]';" style="cursor: pointer;">
               <p class="title">Group name</p>
               <div class="content">
                   and some other details
               </div>
            </div>
         </div>
      </div>
   </div>

   [[pass]]

</div>

[[block page_scripts]]
<script>
   let load_groups_url = "[[=XML(load_groups_url)]]";
   console.log('attached load groups');
</script>
<script src="js/index.js"></script>
[[end]]
