[[extend 'layout.html']]

<style>
    .timeslot {
        font-size: 15px;
    }
    .row {
        height: 30px;
    }
</style>

<div class="section">
    <a class="button" href="[[=URL('index')]]">
        <span class="icon"><i class="fa fa-arrow-left"></i></span>
        <span>Back</span>
    </a>

    <h1 class="title has-text-centered">[[=first]] [[=last]]'s Schedule</h1>
    <h6 class="title is-6 has-text-centered">[[=email]]</h6>

    <!-- [[=form]] -->

    <div class="section">
        <table class="table is-striped is-fullwidth  has-text-centered is-hoverable is-narrow is-bordered" id="schedule">
            <thead>
                <th style="width: 50px; font-size: 15px">
                    <label class="checkbox">
                        <input type="checkbox" v-model="extended" @change="toggle_extended" />
                        Extended Schedule
                    </label>
                </th>
            [[for day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']:]]
                <th style="width: 100px">[[=day]]</th>
            [[pass]]
            </thead>

            <tbody v-for="i in timeslots">
                <tr class="row">
                    <td class="timeslot">{{((i<=12&&i!=0) ? i : Math.abs(i-12)) + (i<=12 ? ' AM' : ' PM')}}</td>
                    [[for j in range(7):]]
                        <td></td>
                    [[pass]]
                </tr>
                <tr class="row">
                    <td></td>
                    [[for j in range(7):]]
                        <td></td>
                    [[pass]]
                </tr> 
                    
            </tbody>

        </table>

    </div>
</div>

[[block page_scripts]]
<script src="js/schedule.js"></script>
[[end]]